@tailwind base;
@tailwind components;
@tailwind utilities;

.theme {
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  padding-inline: 3rem;
  margin-inline: auto;
  width: 80%;
  gap: 10rem;
}

.theme_trans {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.dark {
  --bgcolor: #121619 !important ;
  --textcolor: #fff !important ;
}

.light {
  --bgcolor: #f5f7fa !important ;
  --textcolor: black !important ;
}

.header {
  background-image: linear-gradient(
    to bottom,
    rgba(9, 254, 123, 0.644),
    rgb(97, 171, 144)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
